language: ruby
rvm:
  - 1.9.3
  - 2.0.0
  - ruby-head
  - jruby-19mode
  - jruby-head
  - rbx-19mode
script: "bundle exec rspec spec"
matrix:
  allow_failures:
    - rvm: jruby-head
    - rvm: ruby-head